[submodule "external/HyprPanel"]
	path = external/HyprPanel
	url = https://github.com/Jas-SinghFSU/HyprPanel.git
[submodule "external/ags-types"]
	path = external/ags-types
	url = https://github.com/Jas-SinghFSU/ags-types.git
[submodule "external/astal"]
	path = external/astal
	url = https://github.com/Aylur/astal.git