// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
window.Bar {
    background: transparent;
    color: $foregroundColor;
    font-weight: bold;

    >centerbox {
        background: $backgroundColor;
        border-radius: 10px;
        margin: 8px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
